
.rightContentOne-container {
  display: flex;
  /* flex-direction: column; */
  gap: 5px;
  justify-content: center;
}

.social-icons {
  color: white;
  align-self: end;
  justify-self: end;
  cursor: pointer;

}