
html, body {
  height: 100vh;
  background-color: #0f0f0f;
  
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;   
  grid-template-rows: auto 1fr auto; /* header, content, footer */
  grid-template-areas:
    "header"
    "content"
    "footer";
  gap: 1.25rem;
  height: 200;
  text-align: center;
  
  justify-content: center;
}


.header {
  grid-area: header;
  /* background-color: red;  */
  padding: 0.625rem; 
  
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "content-one"
  "content-list"
  "content-two";


  grid-area: content;
  /* background-color: aquamarine; */
  padding: 1.25rem;
}

.content-one{
  grid-area: content-one;
  padding: 1.25rem;
  /* background-color: lightcyan; */

  display: grid;
  grid-template-columns: 56% 40% 4%;

}
.content-list {
  grid-area: content-list;
  padding: 1.25rem;

  /* background-color: lightcoral; */

}
.content-two {
  grid-area: content-two;
  padding: 1.25rem;
  background-color: lightpink;

}

.footer {
  grid-area: footer;
  background-color: purple;
  padding: 1.25rem;
}




/* ####  */

@media (max-width: 600px) {
  .header, .footer {
    font-size: 0.9rem;
  }

  .content-one {
    grid-template-columns: 1fr; /* force single column */
  }


  
}

/* ✅ Tablet/Desktop: 768px and up */
@media (min-width: 768px) {
  .main-container {
    gap: 20px;
    padding: 20px;
  }

  .content-one {
    grid-template-columns: 56% 40% 4%;
  }

  .content {
    grid-template-rows: 1fr 1fr 1fr;
  }
}


